@media (prefers-reduced-motion: no-preference) {
    #pic1 {
        animation: App-logo-spin infinite 15s linear;
    }
}

.App-header {
    background-color: #ff8243;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
    border-bottom-style: ridge;
}

.line1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
        "a a b b b b b c"
        "a a b b b b b c";
    align-items: start;
    width: 200%;
}

#pic1 {
    grid-area: a;
    width: 40%;
}

.SearchBar {
    align-content: center;
    margin-left: 1%;
    margin-top: 2%;
    grid-area: b;
}

#title {
    margin-left: 5%;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #ff8243;
}

.title2 {
    font-size: calc(3px + 2vmin);
    color: white;
    background-color: #ff8243;
}

#SearchCity,
#SearchCountry {
    border: none;
    border-bottom: 2px solid red;
    font-family: serif;
    height: 30px;
    width: 30%;
}

#SearchCountry {
    margin-left: 20px;
}

.getWeatherbutton {
    margin-left: 45px;
    width: 20%;
    background-color: #ff8243;
    padding: 7px 5%;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    color: white;
}

.Mapbox {
    display : inline-table;
    margin-top: -1%;
    height: 400px;
    width: 200%;
    position: relative;
    background-color: white;

}

.description{
  align-items: center;
}

.column1Titre { 
    font-weight: bold;
}

.column2Titre {
    font-weight: bold;
}

.NestedTable{
  width: 50%;
  height: 70%;
}

.plot {
    padding-top: 1%;
}
table{
  width: 100%;
  height: 750px;
  margin-left: auto; 
  margin-right: auto; 
  border: 1px solid black;
  border-color: #ff8243;
}
th{
  margin-left: auto; 
  margin-right: auto; 
  border: 1px solid black;
  border-color: #ff8243;
  width: 50%;
  align-items: center;
}
tr{
  margin-left: auto; 
  margin-right: auto; 
  border: 1px solid black;
  border-color: #ff8243;
  width: 100%;
}
.plot2 {
    padding-top: 3%;
}

.plot3 {
    padding-top: 3%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}